.contact_container
	{
		background-color: black;
	}

form
	{
		background-color: #fbba22;
		font-family: Arial;
		font-size: 20px;
	}

h1
	{
		font-family: 'Century Gothic';
		font-size: 32px;
		text-align: center;
		margin: 0;
	}

.column1
	{
		width: 30%;
		height: 65px;
		padding: 0;		
	}
	
.column2
	{
		width: 70%;
		height: 65px;
		padding: 0;
	}
	
.rowA
	{
		background-color: #EFF467;
	}
	
.rowB
	{
		background-color: #EBF21C;
	}
	
input[type=text], input[type=email], input[type=tel]
	{
		border: none;
		height: 15px;
		width: 250px;
		font-size: 20px;
		padding: 15px;
	}
	
input[type=submit], input[type=reset]
	{
		border: none;
		height: 40px;
		width: 150px;
		font-family: 'Century Gothic';
		font-size: 20px;
		font-weight: 700;
		background-color: white;
	}
	
.fa-camera
	{
		font-size: 45px;
		padding-left: 15px;
	}