body
	{
		width: 480px;
		height: 600px;
	}
	
header
	{
		background-color: #fbba22;		
	}
		
.container
	{
		background-color: lightyellow;
		position: relative;
		top: -262px;
	}
	
.container img
	{
		opacity: 0.2;
	}
	
section
	{
		position: relative;
		top: 21%;
		left: 8%;
		z-index: 2;
	}
	
form
	{
		font-family: 'Century Gothic';
		font-size: 20px;
		/*border: 1px solid black;*/
		width: 430px;
	}

form a
	{
		text-decoration: none;
		color: black;
	}
	
td
	{
		padding: 15px 0 0 15px;
	}
	
input[type=text], input[type=password]
	{
		border: 1px solid black;
		height: 15px;
		width: 200px;
		font-size: 20px;
		padding: 15px;
		background-color: transparent;
	}
	
input[type=button], input[type=reset]
	{
		border: none;
		height: 50px;
		width: 150px;
		font-family: 'Century Gothic';
		font-size: 20px;
		font-weight: 700;
		background-color: white;
	}
	
footer
	{
		position: fixed;
		top: 570px;
	}
	
footer a
	{
		text-decoration: none;
		color: black;
	}

footer p
	{
		text-align: center;
		font-family: 'Century Gothic';
		font-size: 18px;
		font-weight: 1000;
		color: black;
		position: relative;
		top: -58px;
		background-color: white;
	}